@model RegisterViewModel
@{
    Layout = null;
}

<style>
    .text-danger {
        color: red;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Ekranı</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/colorlib-regform-7/css/style.css">
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Kayıt Ol</h2>
                        <form method="post" asp-action="Index" asp-controller="Register" class="register-form" id="register-form">
                            <div class="form-group  mb-2">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" asp-for="Name" id="name" placeholder="Adınız" />                              
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>

                            <div class="form-group">
                                <label for="surname"><i class="zmdi zmdi-favorite material-icons-favorite"></i></label>
                                <input type="text" asp-for="Surname" id="name" placeholder="Soyadınız" />                                
                            </div>
                            <span asp-validation-for="Surname" class="text-danger"></span>

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" asp-for="Email" id="email" placeholder="Email Adresiniz" />                             
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-coffee material-icons-coffee"></i></label>
                                <input type="text" asp-for="Username" id="name" placeholder="Kullanıcı Adınız" />                              
                            </div>
                            <span asp-validation-for="Username" class="text-danger"></span>

                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="Password" id="pass" placeholder="Şifreniz" />                               
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                           
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/Login/Index" class="signup-image-link">Zaten hesabınız var mı?</a>
                    </div>
                </div>
            </div>
        </section>
       
    </div>

    <!-- JS -->
    <script src="~/colorlib-regform-7/vendor/jquery/jquery.min.js"></script>
    <script src="~/colorlib-regform-7/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
